@import "@/styles/variables.scss";

.tabs {
  display: flex;
}

.tab {
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  border-bottom: 2px solid transparent;

  &--active {
    border-bottom: 2px solid $primary-color;
  }
}